<div *ngIf="message.isShow" class="alert" [ngClass]="severity">
  <span class="material-symbols-outlined">
    {{message.icon?.trim()}}
  </span>
  <span class="alert-message">
    <span id="messagesId">{{ message.detail }}</span>
    <ng-container *ngIf="message.hasLinkCors">
      <a [href]="linkToCorsDemo+'corsdemo/'" target="_blank">
        Click here for more details</a>
    </ng-container>
  </span>
  <span class="alert-close" (click)="closeAlert()">
    <span class="material-symbols-outlined">
      close
    </span></span>
</div>