/* Estilos para el contenedor de la alerta */
.alert {
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(25%, 50%);
    z-index: 9999;
    padding: 10px;
    background-color: #f44336;
    /* Color de fondo de la alerta */
    color: white;
    /* Color del texto */
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Estilos para el mensaje de la alerta */
.alert-message {
    flex-grow: 1;
    overflow: hidden;
    /* Previene el desbordamiento del contenido */
    white-space: nowrap;
    /* Evita que el texto se envuelva en una nueva línea */
    text-overflow: ellipsis;
    /* Añade puntos suspensivos si el texto es demasiado largo */
}

/* Estilos para el botón de cierre de la alerta */
.alert-close {
    cursor: pointer;
    padding: 0 10px;
}

.alert-close-danger:hover {
    background-color: #d4352c;
}

/* Fondo rojo más oscuro para el botón de cierre al pasar el cursor */
.alert-close-danger:hover {
    background-color: #d4352c;
}

/* Clases para diferentes niveles de severidad */
.info {
    background-color: cadetblue;
    color: #fff;
}

.warn {
    background-color: goldenrod;
    color: #fff;
}

.danger {
    background-color: #f44336;
    color: #fff;
}

.success {
    background-color: #0c6c7f;
    color: #fff;
}

svg {
    height: 50px;
    width: 50px;
    fill: blue;
    /* Cambia el color del icono */
}

.material-symbols-outlined{
    margin-left: 3px;
    margin-right: 12px;
}