<app-header>
    <app-search-box-general (emitValueChangeInput)="getValueChangeInput($event || '')" [setDebounceTime]="500" />
</app-header>
<div class="wrapper">
    <!-- Main content -->
    <div class="main-content">
        <app-sidebar class="sidebar" [visible]="productsList.length!==0">
            <div class="center-content ">
                <button class="btn-standar-primary" (click)="applyFacetFilters()">
                    <span class="material-symbols-outlined">
                        filter_alt
                    </span>
                    Apply</button>
                <button class="btn-standar-primary" (click)="clearFIlters()">
                    <span class="material-symbols-outlined">
                        filter_alt_off
                    </span>
                    Remove</button>
            </div>
            <app-accordion *ngFor="let accordion of accordionFilterList trackBy:trackByIdFn"
                [accordionsItemsModel]="accordion">
                <app-drop-down (OnClick)="OnClickElementDropDown($event)" [cleanSelectionFacet]="cleanSelectionFilters"
                    [value]="getValuesForDropDown(accordion.name)" [nameElement]="accordion.name"
                    [selectionMultiple]="accordion.hasSelectionMultiple"></app-drop-down>
            </app-accordion>
        </app-sidebar>

        <div class="product-content" *ngIf="productsList.length > 0">
            <ng-container *ngFor="let product of productsList">
                <app-card-product class="item-product" [product]="product"></app-card-product>
            </ng-container>
            <div class="divisor"></div>
            <app-paginator (pageChange)="OnEventPage($event)" style="width: 100%; margin: 0 auto;"
                *ngIf="productsList.length>0" [totalRow]="metaDataState.products" [maxVisiblePages]="10"
                [totalPages]="metaDataState.pages" [resetPagination]="hasResetPagination"
                [resultTextSearch]="currentKeyValue"></app-paginator>
        </div>
    </div>
</div>
<app-alert-message [message]="messages" [showLinkDemo]="true"></app-alert-message>
<app-spinner [isLoading]="isLoading"></app-spinner>