<!-- Header with logo and search box -->
<app-header>
    <app-search-box-general (emitValueChangeInput)="getValueChangeInput($event || '')" [setDebounceTime]="500" />
</app-header>
<div class="wrapper">

    <app-paginator (pageChange)="OnEventPage($event)" style="width: 50%; margin: 0 auto;" *ngIf="productsList.length>0"
        [totalRow]="metaDataState.products" [maxVisiblePages]="10" [totalPages]="metaDataState.pages"
        [resetPagination]="hasResetPagination" [resultTextSearch]="currentKeyValue"></app-paginator>
    <!-- Main content -->
    <div class="main-content">
        <!-- Sidebar for filters -->
        <div class="sidebar">
            <app-sidebar-filter *ngIf="productsList.length>0"
                (emitFacetFiltersParams)="getProductListByFacetFilters($event)"></app-sidebar-filter>
        </div>

        <!-- Product content -->
        <div class="product-content" *ngIf="productsList.length > 0; else noProductsList">
            <!-- Aquí irían tus tarjetas de producto -->
            <ng-container *ngFor="let product of productsList">
                <app-card-product class="item-product" [product]="product"></app-card-product>
            </ng-container>
            <div class="divisor"></div>
        </div>


        <ng-template #noProductsList>
            <!-- <span>Aquí va un mensaje que no sé qué poner o poner texto</span> -->
        </ng-template>
    </div>

    <!-- <span>Total de productos: {{metaDataState.products}} </span> -->
</div>
<app-alert-message [message]="messages"></app-alert-message>