<div class="wrapper">
    <!-- Header with logo and search box -->
    <div class="header">
        <a href="https://www.barcodelookup.com/" class="barcode-lookup-logo">
            <img src="https://www.barcodelookup.com/assets/images/barcode-lookup-logo.png" alt="Barcode Lookup logo">
            <span class="barcode-logo visible">BARCODE</span>
            <span class="lookup-logo">LOOKUP</span>
        </a>
        <div class="search-container">
            <app-search-box-general (emitProducsList)="getProductsListEmitted($event)" />
        </div>
    </div>

    <!-- Main content -->
    <div class="main-content">
        <!-- Sidebar for filters -->
        <div class="sidebar">
            <app-sidebar-filter *ngIf="productsList.length>0"></app-sidebar-filter>
        </div>

        <!-- Product content -->
        <div class="product-content">
            <!-- Here would go your product cards -->
            <ng-container *ngFor="let product of productsList">
                <!-- <app-card-product /> -->
                <app-card-product class="item-product" [product]="product"></app-card-product>
            </ng-container>
            div.divisor
        </div>
    </div>
</div>