.accordion {
  width: 75%;
}

.accordion-item {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.accordion-item.active {
  background-color: aqua;
}

.accordion-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.accordion-button:hover {
  text-decoration: underline;
}

.accordion-content {
  padding: 0 10px;
  height: 0;
  /* Configura la altura inicial a 0 */
  overflow: hidden;
  transition: height 0.3s ease-out;
  /* Cambia la transición a 'height' en lugar de 'max-height' */
}


.accordion-button.active+.accordion-content {
  max-height: 200px;
  /* Ajusta según el contenido */
}

.container-header-accorion-button {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .accordion {
    margin: auto;
    width: 100%;
  }
}