<div class="accordion">
  <div class="accordion-item" *ngFor="let accordionItem of accordionsItemsModel">
    <!-- <app-check-box (OnClick)="onCheckClick($event)" *ngIf="accordionItem.hasSelectionMultiple"[id]="accordionItem.name" ></app-check-box> -->
    <button class="accordion-button" type="button" (click)="toggleAccordion(accordionItem.name)">
      <div class="container-header-accorion-button">
        <span>{{accordionItem.description}} </span>
      </div>
    </button>
    <!-- [facetList]="showFacetFiltersListByName(accordionItem.name)" -->
    <div class="accordion-content" [style.height]="calculateHeight(accordionItem.isOpen)">
      <app-dropdown-filter-facet (emitSelectedFilter)="getFilterFacet($event,accordionItem.name)"
        [facetList]="showFacetFiltersListByName(accordionItem.name)"
        [selectionMultiple]="accordionItem.hasSelectionMultiple" />
    </div>
  </div>

  <div class="center-content p-2">
    <button class="btn-standar-primary" (click)="applyFacetFilters()">Apply Filters</button>
  </div>
</div>