/* Estilos para la caja de búsqueda */
input[type="search"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Estilos para el dropdown */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}

/* dropdown.component.css */
.dropdown-container {
  position: relative;
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  /* Alta prioridad en la pila de capas */
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: visible;

}

.w-input{
  width: 40% !important;
  margin: 0 auto;
}

:host::ng-deep  .g_wrap_list{
  width: 90%;
  margin: 0 auto 10px;
}
.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f6f6f6;
}

input[readonly] {
  cursor: pointer;
}


.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: #f6f6f6;
}


.dropdown-item:hover {
  background-color: #f1f1f1;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  /* Espacio entre el input y las opciones del dropdown */
  box-sizing: border-box;
  /* Asegura que el padding no aumente el ancho del input */
}

.dropdown-menu {
  max-height: 200px;
  /* Limita la altura máxima del dropdown */
  overflow-y: auto;
  /* Permite desplazarse por las opciones si son muchas */
}

li.item.active {
  background-color: rgb(206, 206, 206);
  color: #fff;
}